header {
    background-color: #edf6f9;
    height: 150px;
}

.seccion {
    background-color: #ee6c4d;
}

.compra{
    height: 300px;
}

footer {
    background-color: #293241;
}

#logo{
    width: 140px;
    height: 110px;
    margin-top: 15px;
}

header h1{
    position: relative;
    top: -70px;
    text-align: center;
    color: #3d405b;
    font-family: Cambria;
    font-size: 45px;
}

#carrito{
    position: relative;
    width: 60px;
    top: -120px;
    left: 900px;
}

#usuario{
    position: relative;
    top: -120px;
    left: 900px;
    height: 30px;
    width: 55px;
}

.mapa{
    width: 160px;
}

.tienda{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 50px;
}

.imagen{
    width: 120px;
    float: left;
    padding-right: 20px;
    padding-left: 30px;
}

.productos{
    padding-top: 20px;
}

.field{
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin: 0.5rem 0;
    justify-content: space-between;
    color: darkslategray;
    padding-left: 20px;
}

.field1{
    padding-top: 20px;
}

.field input{
    border-radius: 5px;
    width: 220px;
    border: none;
}

.boton input{
    background-color: #edf6f9;
    color: #293241;
    border-radius: 5px;
    border: none;
    width: 18rem;
    margin: 0.5rem 0;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
}

h4{
    font-size: 16px;
    text-align: center;
}

.agregar{
    background-color: #e07a5f;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 4px;
}

.info{
    font-family: Cambria;
}

.agregar:hover{
    color: #3d405b;
    background-color: bisque;
}

.boton input:hover, .boton a:hover{
    background-color: bisque;
    color: #3d405b;
}

th,td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    font-family: 'Times New Roman';
}

th:first-child, td:first-child{
    padding-left: 0;
}

th:last-child, td:last-child{
    padding-right: 0;
}

.borrar_producto{
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#total{
    font-size: 20px;
}

.boton a{
    text-decoration: none;
    background-color: #edf6f9;
    color: #293241;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    padding: 97px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn_total{
    margin-top: 20px;
}

aside{
    background-color: #eaf4f4;
}



