div{
    background: #8e44ad;
    color: white;
    padding: .2rem .3rem 1rem .3rem;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    animation-name: animar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes animar {
    
    0%{
        top: 4rem;
        left: 8rem;
    }

    5%{
        left: 8rem;
        top: 4rem;
    }

    10%{
        top:25rem;
    }

    15%{
        left:8rem;
    }

    20%{
        top: 25rem;
        left: 4rem;
    }

    25%{
        top: 27rem;
        left:4rem;
    }
    30%{
        top: 27rem;
        left: 27rem;        
    }
    35%{
        top: 25rem;
        left: 27rem;
    }

    40%{
        left: 26rem;
    }
    45%{
        top: 21rem;
        left: 27rem;
    }
    50%{
        top: 19rem;
        left: 27rem;
    }

    55%{
        left: 23rem;
        top: 19rem;
    }
    60%{
        top: .5rem;
        left: 23rem;
    }
    65%{
        left: 17rem;
        top: .5rem;
    }
    70%{
        top: 4rem;
        left: 17rem;
    }
    75%{
        left: 14rem;
        top: 4rem;
    }
    80%{
        top: .5rem;
        left: 14rem;
    }
    85%{
        left: 8rem;
        top: .5rem;
    }
    100%{
        top: 4rem;
        left: 8rem;
    } 
}
